form, fieldset
  padding: 1rem
  margin-bottom: 2rem

fieldset
  margin-bottom: 1rem

input[type='text'],
select, textarea
  width: 100%

label.inline
    input,select,input[type='text']
      display: inline-block
      margin-left: 1rem

input, textarea
  font-size: 2.2rem

textarea
  height: 30rem

button
  padding: 1rem 2rem