@import './vendor/normalize/normalize.css';
body {
  margin: 0;
  padding: 0;
}
div,
header,
main,
footer,
nav,
menu,
section,
form,
fieldset,
label,
select,
input,
textarea,
aside,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 0;
}
body > header,
body > main,
body > footer,
body > section {
  padding: 1rem 2rem;
}
p {
  margin: 0 0 2rem;
}
p:first-of-type {
  margin-top: 1rem;
}
form,
fieldset {
  padding: 1rem;
  margin-bottom: 2rem;
}
fieldset {
  margin-bottom: 1rem;
}
input[type='text'],
select,
textarea {
  width: 100%;
}
label.inline input,
label.inline select,
label.inline input[type='text'] {
  display: inline-block;
  margin-left: 1rem;
}
input,
textarea {
  font-size: 2.2rem;
}
textarea {
  height: 30rem;
}
button {
  padding: 1rem 2rem;
}
html {
  font-size: 62.5%;
}
@media only screen and (max-width: 800px) {
  html {
    font-size: 64%;
  }
}
body {
  font-size: 1.8rem;
  line-height: 2.8rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 2.6rem;
}
h4 {
  font-size: 2.4rem;
}
h5 {
  font-size: 2.2rem;
}
h6 {
  font-size: 2rem;
}
ol,
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.banner {
  background: #a0047e;
}
body {
  background: #ccc;
  font-family: Arial, sans-serif;
  margin: 0;
  minWidth: 46rem;
}
.page-header {
  *zoom: 1;
  background: #292929;
}
.page-header:before,
.page-header:after {
  content: '';
  display: table;
}
.page-header:after {
  clear: both;
}
.page-header .menu {
  *zoom: 1;
  width: auto;
  max-width: 120rem;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.page-header .menu:before,
.page-header .menu:after {
  content: '';
  display: table;
}
.page-header .menu:after {
  clear: both;
}
.page-header .menu li {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.33333333333333%;
  margin-left: 0%;
  margin-right: 3%;
  color: #e6e6e6;
  font-size: 1.6rem;
  text-align: center;
}
.page-header .menu li:before,
.page-header .menu li:after {
  content: '';
  display: table;
}
.page-header .menu li:after {
  clear: both;
}
.page-header .menu li:nth-child(3n) {
  margin-right: 0%;
  float: right;
}
.page-header .menu li:nth-child(3n+1) {
  clear: both;
}
.banner {
  *zoom: 1;
  color: #e6e6e6;
  height: 300px;
}
.banner:before,
.banner:after {
  content: '';
  display: table;
}
.banner:after {
  clear: both;
}
.banner div {
  *zoom: 1;
  width: auto;
  max-width: 120rem;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.banner div:before,
.banner div:after {
  content: '';
  display: table;
}
.banner div:after {
  clear: both;
}
.page-content {
  *zoom: 1;
  width: auto;
  max-width: 120rem;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  min-height: 60rem;
}
.page-content:before,
.page-content:after {
  content: '';
  display: table;
}
.page-content:after {
  clear: both;
}
.page-footer {
  *zoom: 1;
  background: #9577ab;
}
.page-footer:before,
.page-footer:after {
  content: '';
  display: table;
}
.page-footer:after {
  clear: both;
}
.page-footer div {
  *zoom: 1;
  width: auto;
  max-width: 120rem;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.page-footer div:before,
.page-footer div:after {
  content: '';
  display: table;
}
.page-footer div:after {
  clear: both;
}
.error {
  background: #a6373f;
  border: 0.5rem solid #210b0d;
  color: #210b0d;
  padding: 1rem;
}
.success {
  background: #3cbd2f;
  border: 0.5rem solid #0c2609;
  color: #0c2609;
  padding: 1rem;
}
.warning {
  background: #aa7c39;
  border: 0.5rem solid #22190b;
  color: #22190b;
  padding: 1rem;
}
