body
  margin: 0
  padding: 0

div,
header,
main,
footer,
nav,
menu,
section,
form,
fieldset,
label,
select,
input,
textarea,
aside,
ul,
ol,
li,
h1,h2,h3,h4,h5,h6
  box-sizing: border-box
  display: block
  margin: 0
  padding: 0

body
  & > header,
  & > main,
  & > footer,
  & > section
    padding: 1rem 2rem

p
  margin: 0 0 2rem

  &:first-of-type
    margin-top: 1rem
