body
  margin: 0
  padding: 0

div,
header,
main,
footer,
nav,
menu,
section,
form,
fieldset,
label,
textarea,
aside,
ul,
ol,
li,
h1,h2,h3,h4,h5,h6
  box-sizing: border-box
  display: block
  margin: 0
  padding: 0

ol, ul
  list-style-type: none

a
  text-decoration: none
  &:hover
    text-decoration underline

p
  margin: 0 0 2rem
  padding: 0

  &:first-of-type
    margin-top: 1rem

form, fieldset
  padding: 1rem

input[type='text'],
select, textarea
  box-sizing: border-box
  width: 100%

label
  input[type='text'],
  select, textarea
    display: block

  &.inline
    input,select,input[type='text']
      display: inline-block
      margin-left: 1rem

input, textarea
  font-size: 2.2rem

textarea
  height: 30rem

button
  padding: 1rem 2rem