html
  font-size: 62.5%

body
  margin: 0
  padding: 0

div,
header,
footer,
nav,
menu,
section,
form,
fieldset,
label,
textarea,
aside,
ul,
ol,
li,
h1,h2,h3,h4,h5,h6
  box-sizing: border-box
  margin: 0
  padding: 0

ol,li
  list-style-type: none

a, a:hover, a:visited
  text-decoration: none