@import 'jeet'
@import 'rupture'

@import './blocks'
@require './variables'
@import './mixins'
@import './theme'

body
  background: baseColor
  font-family: primaryFont
  margin: 0
  minWidth: minWidth

.page-header
  cf(span(1))
  background: darken(baseColor, 80%)
  height: 6rem

  menu
    center(maxWidth)

    li
      col(1/3, cycle: 3)
      color: neutralLight
      font-size: 1.6rem
      text-align: center

.banner
  cf(span(1))
  background: highlightColor
  color: neutralLight
  height: 300px

  div
    center(maxWidth)
    padding: 2rem

.page-content
  center(maxWidth)
  min-height: 60rem
  padding: 1rem 2rem

.page-footer
  cf(span(1))
  background: accentColor

  div
    center(maxWidth)
    padding: 2rem

.error
  notify(errorColor)

.success
  notify(successColor)

.warning
  notify(warningColor)