@import 'jeet'
@import 'rupture'

@import './blocks'
@import './variables'

body
  background: baseColor
  margin: 0
  padding: 0

header
  span(1)
  background: darken(baseColor, 80%)
  height: 60px

.banner
  span(1)
  background: highlightColor
  height: 300px

.main-content
  center(980px)
  border: 1px solid darken(baseColor, 20%)
  min-height: 600px