@import 'jeet'
@import 'rupture'

@import './vendor/normalize/normalize.css'
@require './variables'
@import './blocks'
@import './forms'
@import './mixins'
@import './mixins/themes'

body
  background: neutralLight
  font-family: primaryFont
  margin: 0
  minWidth: minWidth

.page-header
  cf(span(1))
  background: darken(neutralColor, 80%)

  .menu
    center(maxWidth)

    li
      col(1/3, cycle: 3)
      color: neutralLight
      font-size: 1.6rem
      text-align: center

.banner
  cf(span(1))
  @extends $themeBgColor
  color: neutralLight
  height: 300px

  div
    center(maxWidth)

.page-content
  center(maxWidth, 2rem)
  min-height: 60rem

.page-footer
  cf(span(1))
  background: accentColor

  div
    center(maxWidth)

.error
  notify(errorColor)

.success
  notify(successColor)

.warning
  notify(warningColor)