baseColor = #ccc
accentColor = #9577ab
highlightColor = #a0047e
errorColor = #a6373f
successColor = #3cbd2f
warningColor = #aa7c39

neutralLight = lighten(baseColor, 50%)
neutralDark = darken(baseColor, 50%)