neutralColor = #bbb
accentColor = #9577ab
errorColor = #a6373f
successColor = #3cbd2f
warningColor = #aa7c39

neutralLight = lighten(neutralColor, 50%)
neutralDark = darken(neutralColor, 50%)

themeColorDefault = #a0047e;